#footer
  background: color-footer-background
  padding: 50px 0
  color: color-footer-info
  a
    color: color-footer-info
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 1em
#footer-info.inner
  background: url(logo-url) no-repeat right 
  background-size: auto 100%